@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F9DD9B, #F2B279);
}

p {
    text-align: justify;
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #88644494;
}

h1 {
    color: #707317;
    text-align: center;
    text-shadow: 1px 1px 2px #41420dbb;
}

h2 {
    color: #D5A7B3;
}